<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<meta name="description" content="Want a website that was made by real people and not bots? Well we make real websites for real businesses. We include flil Login systems and optimized SEO. Plus the first five pages are only $15.">
	<meta name="keywords" content="Sites, Websites, Create Websites, Real People Sites">

	<link rel="icon" href="../../images/favicon.png">

	<!-- Style Sheets -->
	<link rel="stylesheet" href="../../styles/templates.css">

	<title>Manelli Sites</title>
</head>
<body>
	<header>
		<section id="customnav">
			<ul>
				<li><a href="../../index.html"><button><span class="fontsize">Home</span></button></a></li>
				<li><a href=""><button><span class="fontsize">About</span></button></a></li>
				<li><a href="../prices.html"><button><span class="fontsize">Pricing</span></button></a></li>
				<li><a href=""><button><span class="fontsize">Custom</span></button></a></li>
				<li><a href="../templates.html"><button><span class="fontsize">Templates</span></button></a></li>
				<li><a href="../packages.html"><button><span class="fontsize">Packages</span></button></a></li>
				<li><a href=""><button><span class="fontsize">Contact</span></button></a></li>
			</ul>
		</section>
	</header>
	<div id="warning">
		<h1></h1>
	</div>
	<section id="imgtxt" class="panel">
		<a href="../example-files/imgtxt.html"><button>
			<h3>Image with Text</h3>
			<img src="../../images/imgtxt.gif" alt="Scroll">
			<div>
				<p>$35.99 /m</p>
			</div>
		</button></a>
	</section>
</body>
</html>
